parameters:
    locale: pl
    secret_key: SecretToken

    database_driver:    pdo_sqlite
    database_host:      ~
    database_port:      ~
    database_name:      path/to/db.sqlite
    database_path:      path/to/db.sqlite
    database_user:      ~
    database_password:  ~