parameters:
    locale: pl
    secret_key: SecretToken

    database_driver:    pdo_sqlite
    database_host:      ~
    database_port:      ~
    database_name:      sqlite
    database_path:      sqlite
    database_user:      ~
    database_password:  ~